/* Landscape styles */
#dpad-container-landscape {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

.controls-landscape {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.arrow-buttons-landscape {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 30px;
}

.button-row-landscape {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-right: 15vw;
}

.middle-row-landscape .arrow-button-landscape {
    margin: 0 25px;
}

.arrow-button-landscape, .enter-button-landscape, .back-button-landscape, .quit-button-landscape {
    background-color: transparent;
    border: none;
}

.arrow-button-landscape img, .enter-button-landscape img, .back-button-landscape img, .quit-button-landscape img {
    background: transparent;
}

.send-button-landscape {
    margin-top: 10px;
}
