#dpad-container-portrait {
    margin-left: 8vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;    
}
.quit-button {
    margin-left: 30vw;
    height: 50px;
}

.dpad-row {
    /* This will take care of the spacing between the rows */
    margin: 5px;
}

.middle-row {
    /* Aligns items in a row and adds space between them */
    display: flex;
    gap: 1px;
    justify-content: space-between;
    margin-left: 7vw;
}

/* Styling for the individual buttons */
.arrow-button, .enter-button, .back-button, .quit-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow-button, img {
    display: block;
}
/* Adjust as needed to ensure proper alignment */
.up-row, .down-row {
    display: flex;
    justify-content: center;
    margin-left: 29vw;
}

.down-row {
    margin-bottom: 20px;
}

.input-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 16vw;
}

.input-row {
    width: 35vw;
}

.send-button {
    margin-left: 25vw;
}

